<div th:fragment="change_password_modal" class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-processing-overlay"></div>
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">パスワード変更</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-2">
                <div th:if="${error}" class="alert alert-danger py-1" role="alert">
                    <p th:text="${error}" class="my-0"></p>
                </div>
                <div th:if="${success}" class="alert alert-success py-1" role="alert">
                    <p th:text="${success}" class="my-0"></p>
                </div>
                <form th:action="@{/api/profile/change-password-internal}" method="post" id="changePasswordForm">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="mb-2">
                        <label for="currentPassword" class="form-label mb-1 fw-bold">現在のパスワード<span class="text-danger">*</span></label>
                        <div class="input-group input-group-sm">
                            <input type="password" id="currentPassword" name="currentPassword" class="form-control" required>
                            <button class="btn btn-outline-secondary toggle-password-visibility" type="button" data-target="currentPassword">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="newPassword" class="form-label mb-1 fw-bold">新しいパスワード<span class="text-danger">*</span></label>
                        <div class="input-group input-group-sm">
                            <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                            <button class="btn btn-outline-secondary toggle-password-visibility" type="button" data-target="newPassword">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="confirmPassword" class="form-label mb-1 fw-bold">新しいパスワード（確認用）<span class="text-danger">*</span></label>
                        <div class="input-group input-group-sm">
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                            <button class="btn btn-outline-secondary toggle-password-visibility" type="button" data-target="confirmPassword">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="form-text text-muted mb-0">※パスワードは8文字以上で、大文字、小文字、数字、記号をそれぞれ1つ以上含める必要があります。</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm btn-modal-primary me-0" form="changePasswordForm">変更</button>
            </div>
        </div>
    </div>
</div>